.redh2{
    color: #e64242;
    font-weight: bold;
    font-size: 25px;
}

.defpara{
    color: #5c5a5a;
    font-size: 14px;
    font-weight:normal;
}

.clrsection{
    background-color: #e4e1e1d3;
}